<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewUserForm</servlet-name>
        <servlet-class>WorkOfTheForms.NewUserForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>WorkOfTheForms.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>WorkOfTheForms.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProductEntry</servlet-name>
        <servlet-class>WorkOfTheForms.NewProductEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCompany</servlet-name>
        <servlet-class>WorkOfTheForms.AddNewCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>WorkOfTheForms.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductNameForPo</servlet-name>
        <servlet-class>WorkOfTheForms.GetProductNameForPo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPoServlet</servlet-name>
        <servlet-class>WorkOfTheForms.AddPoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDecalForReel</servlet-name>
        <servlet-class>WorkOfTheForms.GetDecalForReel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSheetSizeForReel</servlet-name>
        <servlet-class>WorkOfTheForms.GetSheetSizeForReel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGsmAndBf</servlet-name>
        <servlet-class>WorkOfTheForms.GetGsmAndBf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueReel</servlet-name>
        <servlet-class>WorkOfTheForms.IssueReel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueReelDetailsSubmit</servlet-name>
        <servlet-class>WorkOfTheForms.IssueReelDetailsSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUserForm</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/gettingTheWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductEntry</servlet-name>
        <url-pattern>/NewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCompany</servlet-name>
        <url-pattern>/NewCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductNameForPo</servlet-name>
        <url-pattern>/GetProductName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPoServlet</servlet-name>
        <url-pattern>/AddPo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDecalForReel</servlet-name>
        <url-pattern>/GetDecalForReel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSheetSizeForReel</servlet-name>
        <url-pattern>/GetSheetSizeForReel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGsmAndBf</servlet-name>
        <url-pattern>/GetGsmAndBf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueReel</servlet-name>
        <url-pattern>/IssueReel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueReelDetailsSubmit</servlet-name>
        <url-pattern>/IssueReelDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
